.changecolour{
background-color: black;
}

.home{
  // display: flex;
  background: url("../styles/images/homepage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 30%;
}

.about{
  padding-top: 3%;
}
.homefont{
  font-family: 'Balsamiq Sans', cursive;
  color:white;
  font-size: 18px;
}
