.select{
  padding-bottom: 5%;
}
.crewPageTitle{
  align-items: center;
  text-align: center;
  font-family: 'Righteous', cursive;
  font-size: 70px;
  color:white;
}
.crewShowTitle {
  font-family: 'Righteous', cursive;
  font-size: 50px;
}
.roleTitle{
  padding-top: 60px;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 30px;
}
.crewBio{
  padding-top: 20px;
  font-size: 30px;
}
