.termsTitle{
  font-family: 'Righteous', cursive;
  font-size: 35px;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.termsTitle2{
  font-family: 'Righteous', cursive;
  font-size: 25px;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}
.points{
  font-family: 'Righteous', cursive;
  font-size: 25px;
}
