@import '~bulma/bulma.sass';
@import'home';
@import'productShow';
@import'contactPage';
@import'serviceList';
@import'staffForm';
@import'navbar';



.card {
  height: 100%;
  display: flex;
  flex-direction: column
}
.card-image{
  background-color: white;
}

.img.logo{
  background-image: url("../styles/images/banner-logopng__567x417_q85_crop_upscale.png");
}




.navbar.isgreen {
  background: #51fe00e0;
}

.productbackground{
  background-color: black;
}

.section.has-background-black{
  background-color: black;
}

$box-radius: 6px;
